.container {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  margin-top: 50;
}

.container > div:nth-child(1) {
  transform: translateX(20px);
  z-index: -1;
}
.container > div:nth-child(3) {
  transform: translateX(-20px);
  z-index: -1;
}
.circle {
  background: lightblue;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
}
